body, button{
    font-family: "Syne", sans-serif;
    background-image: url(images/background-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    max-width: 700px;
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    min-height: 280px;
}
.formulario{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 20px;
}

.formulario input{
    width: 300px;
    padding: 10px 15px;
    border:  2px solid rgb(255, 216, 223);
    border-radius: 5px;
}

.formulario label{
    font-weight: bold;
}

#section button{
    width: 335px;
    height: 50px;
    padding: 15px;
    background-color: chocolate;
    color: brown;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.mostrarResultado{
    max-width: 333px;
    width: 100%;
}
.mostrarResultado h2{
    font-size: 15px;
}

.mostrarResultado .cajaResultado{
    border:1px solid transparent;
    background-color: rgb(255, 216, 223);
    min-height: 20px;
    padding: 10px 20px;
    border-radius: 5px;
   
}
.mostrarResultado .cajaResultado p{
    margin: 0;
    color: brown;
}

hr{
    background-color: brown;
    height: 1px;
    width: 100%;
    margin-top: 30px;
}

input:focus-visible {
    outline: brown auto 1px;
}

input:-webkit-autofill {
    background-color: rgb(255 208 215) !important;
    -webkit-box-shadow: 0 0 0px 1000px rgb(255, 219, 225) inset !important;
    box-shadow: 0 0 0px 1000px rgb(252 237 240) inset !important;
    -webkit-text-fill-color: brown !important;
}